Scripts/id_rsa
Scripts/id_rsa.pub
Source/TrainingApp/TrainingApp/bin
Source/TrainingApp/TrainingData/bin
Source/WorkoutDB/WorkoutDB/bin
*.cache
*.dll
*.exe
*.pdb
/build/
*.suo
*.user
_ReSharper.*/
*.sdf
*.opensdf
*.tlog
*.log
*.jfm
*.pdb
*.refactorlog
*.user