on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@main
     # Log into Azure
    - uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: deploy arm
      uses: azure/arm-deploy@v1
      with:
        subscriptionId: ${{ secrets.AZURE_SUBSCRIPTION }}
        resourceGroupName: ${{ secrets.AZURE_RG }}
        template: ./IaC/aks.bicep
        parameters: sshRSAPublicKey="${{ secrets.AKS_PUBKEY }}"
        failOnStdErr: false

        
    # - uses: azure/aks-set-context@v1
    #   with:
    #     creds: '${{ secrets.AZURE_CREDENTIALS }}'
    #     cluster-name: ${{ secrets.CLUSTER_NAME }}
    #     resource-group: ${{ secrets.AZURE_RG }}
        
    # - uses: azure/k8s-deploy@v1
    #   with:
    #     manifests: |
    #       Manifests/keyvault-SecretProvider.yaml
    #       Manifests/dynamicstorage.yaml

    
